@import "../../../../assets/styles/variables.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  > nav {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      margin: 0 2rem;

      > span {
        font-size: 2rem;

        color: $gray;
        transition: color 0.4s ease;
      }

      &:hover,
      &.active {
        > span {
          color: $accent;
        }
      }
    }
  }
}
