@import "../../../../assets/styles/_variables.scss";

.search {
  width: 100%;

  margin-bottom: 1.5rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);

  border: 1px solid transparent;
  border-radius: 30px;
  transition: border 0.4 ease;

  &:focus-within {
    border-color: $accent;
    opacity: 0.5;
  }

  > span {
    margin-right: 10px;
    margin-left: 5px;

    color: $white;

    opacity: 0.5;
  }

  > input {
    padding: 1rem 0;

    background-color: transparent;
    outline: none;

    font-size: 16px;
    color: $white;

    &::placeholder {
      color: #4a494c;
    }
  }
}
